<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="container mt-4">
        <h3>상세페이지</h3>
        <%= data.title %>
        <%= data.content %>
        <%= data.userid %>
        <%= data.currentDate %>
        <img src = "<%= data.path %>" width ="200"/>
    </div>
    
</body>
</html>

